name: CodSpeed

on:
  push:
  workflow_dispatch:

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get update -q
          sudo DEBIAN_FRONTEND=noninteractive apt-get install \
            python3 \
            python3-venv \
            --no-install-recommends --yes
          python3 -m venv --system-site-packages .venv
          . ./.venv/bin/activate
          pip3 install "pytest < 10" "pytest-codspeed < 5"
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: instrumentation
          run: . ./.venv/bin/activate; pytest --codspeed
